@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PoppinsRegular;
  src: url(../../public/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsMedium;
  src: url(../../public/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../../public/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsExtrabold;
  src: url(../../public/fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: PoppinsLight;
  src: url(../../public/fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: PoppinsExtralight;
  src: url(../../public/fonts/Poppins/Poppins-ExtraLight.ttf);
}
:root {
  --border-radius: 11px;

  --poppins-light: PoppinsLight;
  --poppins-extralight: PoppinsExtralight;
  --poppins-regular:  PoppinsRegular;
  --poppins-medium: PoppinsMedium;
  --poppins-bold: PoppinsBold;
  --poppins-extrabold: PoppinsExtrabold;
  
  --dark: #081C4E;
  --violet: #615DFA;
  --deep-violet: #4E4AC8;
  --green-blue: #23D2E2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 250ms ease-in-out;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #FAFAFA;
  @apply poppins-regular;
}

a {
  color: inherit;
  text-decoration: none;
}

.radius {
  border-radius: var(--border-radius);
}
.radius-top {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.radius-bottom {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.text-dark {
  color: var(--dark);
}

.text-violet {
  color: var(--violet);
}

.text-green-blue {
  color: var(--green-blue);
}

.bg-violet {
  background-color: var(--violet);
}

.bg-deep-violet {
  background-color: var(--deep-violet);
}

.bg-green-blue {
  background-color: var(--green-blue);
}

.hover-green-blue:hover {
  background-color: var(--green-blue);
}

.poppins-light {
  font-family: var(--poppins-light);
}

.poppins-extralight {
  font-family: var(--poppins-extralight);
}

.poppins-regular {
  font-family: var(--poppins-regular);
}

.poppins-medium {
  font-family: var(--poppins-medium);
}

.poppins-bold {
  font-family: var(--poppins-bold);
}

.poppins-extrabold {
  font-family: var(--poppins-extrabold);
}
.dropdown {
  box-shadow: 7px 6px 10px -7px rgba(0,0,0,0.51);
  -webkit-box-shadow: 7px 6px 10px -7px rgba(0,0,0,0.51);
  -moz-box-shadow: 7px 6px 10px -7px rgba(0,0,0,0.51);
}
.shadow-d {
  box-shadow: 10px 5px 48px -29px rgba(87,87,87,0.3);
  -webkit-box-shadow: 10px 5px 48px -29px rgba(87,87,87,0.3);
  -moz-box-shadow: 10px 5px 48px -29px rgba(87,87,87,0.3);
}

.scrollbar {
  @apply scrollbar-thin scrollbar-thumb-blue-700
   scrollbar-track-blue-300 overflow-y-scroll 
   scrollbar-thumb-rounded-full scrollbar-track-rounded-full;
  animation: fadeOut .250s ease-in-out forwards;
}

.scrollbar::-webkit-scrollbar {
  width: 7px !important;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}
.scrollbar:hover {
  animation: fadeIn .250s ease-in-out forwards;
}

.scrollbar::-webkit-scrollbar {
  background: white;
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--var1) !important;
}


@property --var1 {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

@keyframes fadeIn {
  0% {
    --var1: white;
  }

  100% {
    --var1: #1d4ed8;
  }
}

@keyframes fadeOut {
  0% {
    --var1: #1d4ed8;
  }

  100% {
    --var1: white;
  }
}
